html, body, #map {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#ldap-progress {
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -10px;
	width: 200px;
	height: 20px;
}
